<script type="text/html" id="btnOkCancelTmpl">
<div class="pull-right">
<input type="submit" class="btn btn-primary">
<button class="btn btn-primary" onclick="history.back();return false;"><%=L._CANCEL_%></button>
</div>
</script>

<script type="text/html" id="LoremTmpl">
<%for(var ci in dataset) {
var data = dataset[ci]; %>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><% print(data.header); %></div>
    <div class="panel-body"><% print(data.body); %></div>
  </div>
</div>
<%}%>
</script>

<script type="text/html" id="IpsumTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><% print(header, btnBack);%></div>
    <div class="panel-body">
      <p><i><%=data.info%></i></p>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=data.title%>"></div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._DETAILS_%></label>
          <div class="col-md-8"><input type="text" name="details" class="form-control" value="<%=data.details%>"></div>
        </div>
        <button type="button" class="btn btn-sm btn-success pull-right" title="<%=L._EDITOR_%>" onclick="showEditor()">+</button>
        <%=btnOkCancel%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="RestoreTmpl">
  <div class="container cont-mid">
    <div class="panel panel-warning">
      <div class="panel-heading"><% print(title, btnBack); %></div>
      <div class="panel-body">
        <form class="form-horizontal" name="upload"><input type="file" id="upload" name="upload" required><br><%=btnOkCancel%></form>
      </div>
      <div class="panel-footer"><div class="myright">
        <i><output id="prop"><%=hint%></output></i>
      </div></div>
    </div>
  </div>
</script>
